<!-- Someday this will actually look at App.net. -->
{% if site.twitter_user %}
<section>
  <h1>On App.net</h1>
  <ul id="tweets">
    <li class="loading">Status updating...</li>
  </ul>
  <script type="text/javascript">
    $.domReady(function(){
      getTwitterFeed("{{site.twitter_user}}", {{site.twitter_tweet_count}}, {{site.twitter_show_replies}});
    });
  </script>
  <script src="{{ root_url }}/javascripts/twitter.js" type="text/javascript"> </script>
  {% if site.twitter_follow_button %}
    <a href="http://twitter.com/{{ site.twitter_user }}" class="twitter-follow-button" data-show-count="{{ site.twitter_show_follower_count }}">Follow @{{ site.twitter_user }}</a>
  {% else %}
    <p>
      <a href="https://alpha.app.net/duff">@duff</a> on App.net
      <br/>
      <a href="http://twitter.com/duffomelia">@duffomelia</a> on Twitter
    </p>
  {% endif %}
</section>
{% endif %}
