<section>
  <h1>Subscribe</h1>
  <br/>
  <p>
    <a style="text-decoration: none" href="http://feeds.feedburner.com/duffomelia" rel="subscribe-rss" title="Use your news reader to receive updates."><img style="vertical-align:middle" src="images/rss.png" /> &nbsp; RSS</a>
  </li>
  <p>
    <a style="text-decoration: none" href="http://feedburner.google.com/fb/a/mailverify?uri=duffomelia&amp;loc=en_US" rel="subscribe-email" title="Receive an email whenever the blog is updated."><img style="vertical-align:middle" src="images/email.png" /> &nbsp; Email</a>
  </p>
</section>
